<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_provider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <provider
            android:authorities="my_provider"
            android:name=".MyProvider"
            android:exported="true"/>
    </application>
</manifest>
